[Unit]
Description=SysSensorsMQTT
After=network.target

[Service]
Type=idle
WorkingDirectory=/home/osmc/SysSensorsMQTT
ExecStart=/home/osmc/SysSensorsMQTT/sys_sensors_mqtt_daemon.py

[Install]
WantedBy=multi-user.target
